<div class="left-side-menu">

  <div class="slimscroll-menu">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu">

        <li class="menu-title">Navigation</li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion-md-speedometer"></i>
            <span> Dashboard </span>
            <span class="badge badge-info badge-pill float-right"> 3 </span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="index.html">Nhiệm vụ</a></li>
            <li><a href="dashboard-2.html">Lịch</a></li>
            <li><a href="dashboard-3.html">Thông báo</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion ion-md-person"></i>
            <span>Người dùng</span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/manageusers/general">Quản lý</a></li>
            <li><a href="/admin/manageusers/create-user">Thêm</a></li>
            <!-- <li><a href="/admin/manageusers/volunteers">Tình nguyện viên</a></li>
            <li><a href="/admin/manageusers/sponsors">Nhà tài trợ</a></li> -->
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion-ios-apps"></i>
            <span> Blog </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/blog/articles">Bài viết</a></li>
            <li><a href="/admin/blog/write-article">Viết bài</a></li>
            <li><a href="/admin/blog/category-and-tag">Category & tag</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion ion-md-rocket"></i>
            <span>Chiến dịch</span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/campaign/general">Chung</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion-md-heart"></i>
            <span> Forms </span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <!-- <li><a href="forms-elements.html">Ủng hộ</a></li>
            <li><a href="forms-validation.html">Cộng tác viên</a></li> -->
            <li><a href="/admin/contact/contact-message">Liên hệ</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="waves-effect">
            <i class="ion ion-md-images"></i>
            <span>Bộ sưu tập</span>
            <span class="menu-arrow"></span>
          </a>
          <ul class="nav-second-level" aria-expanded="false">
            <li><a href="/admin/manageimages/contact-message">Quản lý ảnh</a></li>
            <li><a href="/admin/manageimages/contact-message">Image Gallery</a></li>
          </ul>
        </li>

      </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>