<!-- LOADING -->
<div class="loader-container" id="loader">
  <div class="loader-overlay"></div>
  <div class="temp">
    <div class="loader"></div>
  </div>
</div>

<div class="navbar-custom">
  <ul class="list-unstyled topnav-menu float-right mb-0">
    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="false" aria-expanded="false">
        <img src=<%= user.avatar %> alt="user-image" class="rounded-circle">
        <span class="pro-user-name ml-1">
          <%= user.name %> <i class="mdi mdi-chevron-down"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <%- include('./convertRoleToString2') -%>
        <div class="dropdown-header noti-title">
          <h6 class="text-overflow m-0"><%= converRoleUserToString(user.role) %></h6>
        </div>

        <!-- item-->
        <a href="/admin/manageusers/my-profile" class="dropdown-item notify-item">
          <i class="mdi mdi-account-outline"></i>
          <span>Profile</span>
        </a>


        <div class="dropdown-divider"></div>

        <!-- item-->
        <a href="/admin/auth/logout" class="dropdown-item notify-item">
          <i class="mdi mdi-logout-variant"></i>
          <span>Logout</span>
        </a>

      </div>
    </li>

  </ul>

  <!-- LOGO -->
  <div class="logo-box">
    <a href="/admin" class="logo text-center logo-light">
      <span class="logo-lg">
        <img src="/public/logo.png" alt="" height="46">
        <!-- <span class="logo-lg-text-dark">Velonic</span> -->
      </span>
      <span class="logo-sm">
        <!-- <span class="logo-lg-text-dark">V</span> -->
        <img src="/public/logo.png" alt="" height="46">
      </span>
    </a>
  </div>

  <!-- LOGO -->


  <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <li>
      <button class="button-menu-mobile waves-effect">
        <i class="mdi mdi-menu"></i>
      </button>
    </li>

    <li class="d-none d-lg-block">
      <form class="app-search">
        <div class="app-search-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm ...">
            <div class="input-group-append">
              <button class="btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>