<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-lg-4 ">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="/public/logo.png" alt="">
              </a>
            </div>
            <p class="address_text">Quyên Góp Yêu Thương là một nhóm tập hợp các bạn sinh viên khóa 19 thuộc Trường Đại
              học Bách Khoa – Đại
              học Đà Nẵng, tràn đầy nhiệt huyết và năng lượng của tuổi trẻ. Với mong muốn được góp một phần sức trẻ để
              giúp đỡ các hoàn cảnh còn khó khăn trong xã hội có một cuộc sống đầy đủ và tốt đẹp hơn.
            </p>

          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Mục lục
            </h3>
            <ul class="links">
              <li><a href="/">Trang chủ</a></li>
              <li><a href="/blog">Bài viết</a></li>
              <li><a href="/campaign">Chiến dịch</a></li>
              <li><a href="/contact">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Liên hệ
            </h3>
            <div class="contacts">
              <p><b>0905 694 438 </b><br>
                <b>quyengopyeuthuong@gmail.com</b><br>
                54 Nguyễn Lương Bằng
                Đại học Bách Khoa, Đà Nẵng<br>
                <a style="color: blue; text-decoration: underline;"
                  href="https://www.facebook.com/Quy%C3%AAn-G%C3%B3p-Y%C3%AAu-Th%C6%B0%C6%A1ng-111523043958723/">
                  <i class="ti-facebook"></i>Quyên Góp Yêu Thương</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Mục tiêu
            </h3>
            <ul class="news_links">
              <li>
                <p class="address_text">Đây chỉ là những bước chân đầu tiên của chúng mình trên hành trình tìm kiếm hạnh
                  phúc, vẫn còn gặp nhiều chướng ngại, khó khăn nhưng chúng mình đã nhận được rất nhiều tín hiệu tích
                  cực của mọi người, những nhà hảo tâm. Chúng mình vẫn sẽ bước tiếp và tin rằng bằng cách lan tỏa lòng
                  nhân ái, sự tích cực này mạnh mẽ hơn nữa, sẽ có thêm nhiều tấm lòng nhân ái đi cùng chúng mình trên
                  hành trình này. Hãy tham gia cùng chúng mình!
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="row">
        <div class="bordered_1px "></div>
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>
                document.write(new Date().getFullYear());
              </script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>